.card{
    height: 18rem;
    .img_container{
        height: 14rem;
        width: 100%;
        img{
            height: 90%;
            width: 100%;
        }
    }
    .title{
        height: 4rem;
        width: 100%;
    }
}