.nav-bar {
  width: 100%;
  height: 5rem;

  .container {
    height: 70%;
  }
  ul {
    width: 100%;
    display: flex;
  }
  li {
    &:hover {
      border-bottom: 2px solid black;
    }
  }
  .img {
    width: 80px;
    height: 20px;
  }
  .showDiv {
    position: relative;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .nav_horizontal {
    position: absolute;
    height: 200px;
    border-radius: 6px;
    width: 10rem;
    top: 2rem;
    right: -2rem;
    box-shadow: $base-box-shadow;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
    }
  }
  .nav_container {
    width: 50%;
  }
}

@include xs {
  .ul {
    opacity: 0;
  }
  .showDiv {
    display: block;
  }
}
@include sm {
  .ul {
    opacity: 0;
  }
  .showDiv {
    display: block;
  }
}
@include md {
  .ul {
    opacity: 1;
  }
  .showDiv {
    opacity: 0;
  }
}
@include lg {
  .showDiv {
    opacity: 0;
  }
  .ul {
    opacity: 1;
  }
}
